/* leaflet layers control plugin css */
.leaflet-control-layers-group-name{font-weight:700;margin-bottom:.2em;margin-left:3px}.leaflet-control-layers-group{margin-bottom:.5em}

.leaflet-control-layers .leaflet-control-layers-group-label{padding-left:20px;display:block}
.leaflet-control-layers label{padding-left:40px;padding-right:10px;display:none;}
.leaflet-control-layers label.trigger{
  position:absolute;
  left:0;
  padding:0;
  margin:0;
  display:block;
  cursor:pointer;
}
.leaflet-control-layers label.trigger:before{content:"▶";font-weight:normal;}
.leaflet-control-layers .trigger-radio:checked ~ label.trigger:before{content:"▼"}

.leaflet-control-layers .trigger-radio{display:none;}
.leaflet-control-layers .trigger-radio:checked ~ label{display:block;}
